.Board {
  display: inline-flex;
  flex-wrap: wrap;
  width: 252px;
  justify-content: center;
  border: 2px solid black;

}

.Box {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.WinnerText {
  font-size: 25px;
  margin-top: 20px;
}